.mapa {
    height: 40rem;
    margin: 4rem 5rem;
    border-radius: 1.5rem;

    &__heading {
        margin: 0 ;
        text-align: left;
    }
    &__texto {
        font-size: 1.8rem;
        margin: 0;
    }
}