@use 'base/mixins' as m;
@use 'base/variables' as v;

.productos {

    
    &__contenedor { 
        @include m.contenedor;
        display: inline-block;
        justify-content: center;
        align-items: center;
        @include m.desktop {
            @include m.grid(4,2rem);
        }
        
        
    }

    &__contenido{
        align-items: center;
        margin: 2rem 0;
    }

    &__imagen{
        width: 50%;
        border-radius: 4rem;
        justify-content: center;
        align-items: center;
    }

    

}

.contenido-productos{
    .boton{
        @include m.boton(v.$primario, v.$secundario);
        text-transform: uppercase;
        font-size: 1.4rem;
        border-radius: 1rem;
        @include m.tablet {
            width: auto;
        }
    }
}